.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 0 auto; 
    max-width: 1100px;
}

.title {
    font-size: 32px;
    margin-bottom: 30px;
}

.containerProject1, .containerProject2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgb(66, 66, 66);
    justify-content: center;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 1s box-shadow;
    position: relative;
}

.containerProject1:hover, .containerProject2:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

.containerProject1:hover::before, .containerProject2:hover::before, 
.containerProject1:hover::after, .containerProject2:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FDA8CF;
    border-radius: 20px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.containerProject1:hover::after, .containerProject2:hover::after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
}

.imageProject {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.projectContent {
    max-width: 800px;
    text-align: left;
}

.projectTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.projectDetail {
    font-size: 16px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .containerProject1, .containerProject2 {
        flex-direction: row;
        justify-content: center;
    }

    .imageProject {
        width: 95%;
        margin-right: 40px;
        border-radius: 10px;
    }

    .projectContent {
        max-width: 40%; 
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 56px;
    }

    .projectTitle {
        font-size: 28px;
    }

    .projectDetail {
        font-size: 18px;
    }
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;    
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;    
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;    
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;    
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;    
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;    
    }
}
