.footer {
    padding: 20px;
    text-align: center;
    background-color:rgb(36,36,36);
    color: white;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .footer {
        font-size: 16px;
        padding: 25px;
    }
}

@media (min-width: 1200px) {
    .footer {
        font-size: 15px;
        padding: 20px;margin-top: 1.5rem;
    }
}
